{% extends 'todolist/main.html' %}

{% load staticfiles %}

{% block task %}
    <div class="large-8 columns">
        {% if username %}
        {% for task in tasks %}
            <h4>{{ task.task_title }}</h4>
            <h6>Дата публикации:{{ task.task_date }}</h6>
            <h6>Creator:{{ username }}</h6>
            <hr />
            {% if username %}
                <form action="/task/add_item/{{ task.id }}/" method="post">

                    {% csrf_token %}
                    {{ form_item }}
                    <input type="submit" class="button" value="Add item" />
                </form>
            {% else %}

                Plese registrate!

            {% endif %}
            <form>
                <button class="button" type="submit" form="/add_task/{{ task_task.id }}">Add Task</button>
            </form>




        {% endfor %}
        {% endif %}
    </div>

{% endblock %}
