{% extends 'todolist/base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}


{% block task %}
    <div class="large-6 columns">
        {% comment %}
        {% endcomment %}
        {% if username %}

        {% for task in tasks %}

            <div class="callout primary">
                <h4><a href="{{ task }}" class=""> {{ task.task_title }}</a></h4>
            <h6>Дата публикации:{{ task.task_date }}</h6>
            <h6>Creator:{{ username }}</h6>
            {% for item in items %}
                <h6>{{ item }}</h6>
            {% endfor %}


                <form action="/task/add_item/{{ task.id }}/" method="post" class="form">
                    <div class="input-group">

                    <span class="input-group-label">{{ task_items.id }}</span>
                        <div class="input-group-button">
                            <input class="input-group-field" type="text">

                            {% csrf_token %}

                            {{ ItemForm }}
                            <input type="submit" class="button" value="+">
                        </div>
                    </div>
                </form>
            </div>
            <hr />

        {% endfor %}

        {% endif %}
    {% comment %}
        {% endcomment %}
    <br>
        <div class="input-group">
            <span class="input-group-label menu">TODO Title:</span>
            <form action="/task/add_task/{{ task.id }}/" method="post">{% csrf_token %}
                {{ TaskForm }}
                <input class="input-group-field" type="text">
                    <div class="input-group-button">
                        <input type="submit" class="button" value="Add TODO List">
                    </div>
            </form>
        </div>

    </div>

{% endblock %}
