{% extends "todolist/base.html" %}

{% load staticfiles %}

{% block title %}
    {{ name }}
{% endblock %}

{% block content_article %}
    <div class="large-8 columns">
        {% for article in articles %}
            <h4><a href="/article/get/{{ article.id }}" >{{ article.article_title }}</a></h4>
            <h6>Дата публикации:{{ article.article_date }}</h6>
            <h6>Автор:{{ article.article_creator }}</h6>

            <p>{{ article.article_text }}</p>
            <p><a href="/article/add_like/{{ article.id }}/"><img src="{% static 'like.png' %}" width="25px" height="25px" name="Likes"></a>{{ article.article_likes }}</p>
            <hr>
        {% endfor %}
    </div>
    <div class="row">
        <div class="large-3 large-offset-5 columns">
            <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                {% if articles.has_previous %}
                    <li class="pagination-previous"><a href="/article/page/{{ articles.previous_page_number }}/">Previous</a></li>
                {% else %}
                    <li class="pagination-previous disabled"><a href="#">Previous</a></li>
                {% endif %}

                {% for page in articles.paginator.page_range %}
                    {% if page == articles.number %}
                        <li class="current"><a href="/article/page/{{ page }}/">{{ page }}</a></li>
                    {% else %}
                        <li><a href="/articles/page/{{ page }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if articles.has_next %}
                    <li class="pagination-next"><a href="/article/page/{{ articles.next_page_number }}/">Next</a></li>
                {% else %}
                    <li class="pagination-next disabled"><a href="#">Next</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}